body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.container {
    width: 380px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: none;
    cursor: pointer;
    background: #ff416c;
    color: white;
}

button:hover {
    background: #e6365d;
}

.sos {
    background: red;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #ff416c;
}
